@model CompanyDto

@{
    ViewData["Title"] = "Create Company";
}

<div class="about_section layout_padding company">
    <div class="container">
        <h1 class="watchs_taital">Create Company</h1>
    </div>
    <div class="contact_section_2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mail_section_1">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" type="text"
							class="form-control mail_text" 
							placeholder="Required" />
                                <span asp-validation-for="Name" class="text-danger">
                                </span>
                            </div>
                            <div class="form-group company-name">
                                <label asp-for="CompanyHeadquarter" 
                                class="control-label"></label>
                                <input asp-for="CompanyHeadquarter"
							type="text" class="form-control mail_text" 
							placeholder="Required" />
                               <span asp-validation-for="CompanyHeadquarter" 
                                    class="field-validation-error text-danger">
                                </span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AddressOfManagement" 
                                class="control-label"></label>
                                <input asp-for="AddressOfManagement" 
                                type="text" class="form-control mail_text"/>
                                <span asp-validation-for="AddressOfManagement" 
                                    class="text-danger">
                                </span>
                            </div>
                               <div class="form-group">
                                  <label asp-for="UniqueIdentifier" 
						    class="control-label"></label>
                                  <input asp-for="UniqueIdentifier" type="text" 
							class="form-control mail_text" 
							placeholder="Required"/>
                                  <span asp-validation-for="UniqueIdentifier" 
                                    class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                  <label asp-for="VATRegNumber" class="control-label">
						    </label>
                                  <input asp-for="VATRegNumber" type="text" 
						    class="form-control mail_text"/>
                                  <span></span>
                               </div>
                               <div class="form-group">
                                  <label asp-for="RepresentedBy" 
						    class="control-label"></label>
                                  <input asp-for="RepresentedBy" type="text" 
							class="form-control mail_text" 
							placeholder="Required"/>
                                  <span asp-validation-for="RepresentedBy" 
                                    class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                  <label asp-for="RepresentativeIdNumber" 
							class="control-label"></label>
                                  <input asp-for="RepresentativeIdNumber" 
						    type="text" class="form-control mail_text"/>
                                  <span></span>
                               </div>
                               <div class="form-group">
                                  <label asp-for="CompanyCaseNumber" 
						    class="control-label"></label>
                                  <input asp-for="CompanyCaseNumber" 
						    type="text" class="form-control mail_text"/>
                                  <span></span>
                               </div>
                            <div class="send_bt">
                                <button type="submit" asp-controller="Companies" 
                                asp-action="Create">Create</button>
                            </div>
                        </div>
                    </form>       
                </div>
                <div class="col-md-6 padding_right_0">
                    <div class="map_section">
                         <img src="/images/map-img-2.png"> 
                    </div>
                </div>
            </div>
         </div>
    </div>  
</div>


