@model Payroll.ModelsDto.CompanyDto

@{
    ViewData["Title"] = "Update";
     ViewData[ "ShowBanner" ] = false;
}

<div class="about_section layout_padding company">
     <div class="container">
          <h3 class="watchs_taital">Update Company</h3>
     </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

