
<!-- Portfolio Gallery Grid -->
<div class="row staff">
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150px" alt="Staff">
			<p>Lorem ipsum dolor sit amet.</p>
			<div class="send_bt modify-company">
				<button asp-controller="Employees" asp-action="Index">
					Open
				</button>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150pxalt=" Staff">
			<p>Lorem ipsum dolor sit amet.</p>
			<div class="send_bt modify-company">
				<button asp-controller="Employees" asp-action="Index">
					Open
				</button>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150pxalt=" Staff">
			<p>Lorem ipsum dolor sit amet.</p>
			<div class="send_bt modify-company">
				<button asp-controller="Employees" asp-action="Index">
					Open
				</button>
			</div>
		</div>
	</div>
	<!-- END GRID -->
</div>