
<!-- Portfolio Gallery Grid -->
<div class="row staff">
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150px" alt="Staff">
			<div>
				<p>Employee files</p>
			</div>
			<div class="send_bt modify-company">
				<a asp-area="" asp-controller="Employees"
				   asp-action="Index">Open</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150pxalt=" Staff">
			<div>
				<p>Lorem ipsum dolor.</p>
			</div>
			<div class="send_bt modify-company">
				<a>Open</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="content company">
			<img src="~/images/custom-img/staff-small.png" 
			width="165px" height="150pxalt=" Staff">
			<div>
				<p>Lorem ipsum dolor.</p>
			</div>
			<div class="send_bt modify-company">
				<a>Open</a>
			</div>
		</div>
	</div>
	<!-- END GRID -->
</div>