
@{
     ViewData[ "Title" ] = "Home Page";
}

@section HomeIndex
{
	<div class="banner_section layout_padding">
		<div id="main_slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<h2 class="banner_taital">Personnel</h2>
						<partial name="_PersonnelBannerSection"></partial>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<h2 class="banner_taital">Payroll</h2>
						<partial name="_PayrollBannerSection"></partial>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
				<i class="fa fa-plus" style="font-size:24px; color: #fff;"></i>
			</a>
			<a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
				<i class="fa fa-minus" style="font-size:24px;  color: #fff;"></i>
			</a>
		</div>
	</div>
}