@{
     ViewData[ "Title" ] = "Company details";
     ViewData[ "ShowBanner" ] = false;
}

<div class="about_section layout_padding">
   <div class="container">
       <h1 class="watchs_taital">Company information</h1>
   </div>
   <div class="contact_section_2">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-6">
                   <div class="mail_section_1">
                       <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                       <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                       <input type="text" class="mail_text" placeholder="Email" name="Email">
                       <div class="send_bt">
                            <a href="#">//ToDo</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 padding_right_0">
                   <div class="map_section">
                       <img src="/images/map-img.png">
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>




