@{
     ViewData[ "Title" ] = "Home Page";
}

<div class="banner_section layout_padding">
     <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
               <div class="carousel-item active">
                    <div class="container">
                         <h3 class="banner_taital">Personnel staff</h3>
                         <p class="banner_text">_________________________________________</p>
                         <div class="read_bt"><a href="#">Open</a></div>
                    </div>
               </div>
               <div class="carousel-item">
                    <div class="container">
                         <h3 class="banner_taital">Payroll</h3>
                         <p class="banner_text">_____________________</p>
                         <div class="read_bt"><a href="#">Open</a></div>
                    </div>
               </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-plus" style="font-size:24px; color: #fff;"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-minus" style="font-size:24px;  color: #fff;"></i>
          </a>
     </div>
</div>
