@model Payroll.ViewModels.EmployeeViewModels.EmployeeVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLight.cshtml";
}

<div class="row">
	<div class="col-md-4">
		<h3>Create/Edit Employee</h3>
		<hr />
	</div>
</div>

<div class="row">
    <div class="col-md-4">
	    <div class="form-control">
			<partial name="_CreateEditRadioButtonsPartial" />
			<hr />
			<form class="create-edit-form" asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Id"></label>
					<input asp-for="Id" type="text" class="col-md-12" />
					<span asp-validation-for="Id" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PersonId"></label>
					<vc:select-person></vc:select-person>
					<span asp-validation-for="PersonId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<vc:select-company></vc:select-company>			    
					<span asp-validation-for="CompanyId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NumberFromTheList"></label>
					<input asp-for="NumberFromTheList" type="text" class="col-md-12"/>
					<span asp-validation-for="NumberFromTheList" class="text-danger">
					</span>
				</div>
				<div class="form-group">
					<label asp-for="EmpImage"></label>
					<input asp-for="EmpImage" type="file" class="col-md-12" />
					<span asp-validation-for="EmpImage" class="text-danger">
					</span>
				</div>
				<div class="form-group">
					<label asp-for="IsPresent"></label>
					<input type="checkbox" asp-for="IsPresent" />
					<span asp-validation-for="IsPresent" class="text-danger">
					</span>
				</div>
				<hr />
				<div class="form-group">
					<input type="submit" value="Create"
						  class="btn btn-primary create-update-submit" />
					<a asp-action="Index" class="btn btn-primary">
						Back to List
					</a>
				</div>
			</form>
		</div>
    </div>
</div>


@* id="create-update-submit" *@

