@using Payroll.ViewModels.EmployeeViewModels
@model WorkExperienceVM

<div class="col col-md-3">
	<div class="form-control">
		<div>
			<label asp-for="@Model.WorkExperience">
			</label>
			@* <input class="text-center col-md-12"
				  asp-for="@Model.WorkExperience" /> *@
			<input class="text-center col-md-12"
			value="-TODO-" />
		</div>
		<div>
			<label asp-for="@Model.SpecialtyWorkExperience">
			</label>
			@* <input class="text-center col-md-12"
				  asp-for="@Model.SpecialtyWorkExperience" /> *@
			<input class="text-center col-md-12"
				  value="-TODO-" />
		</div>
	</div>
</div>
