@model string?

@{
	string? currentEmpId = Model;
	// string? currentEmpId = "3";
}

<div  class="row">
	<div class="col-md-4">
		<label>Create</label>
		<input employee-id="@currentEmpId" type="radio" class="radio-create radio-btn"
			name="create-update" value="Create" checked />
	</div>
	<div class="col-md-4">
		<label>Edit</label>
		<input employee-id="@currentEmpId" type="radio" class="radio-edit radio-btn"
			name="create-update" value="Edit" />
	</div>
</div>


