<div class="row">
	<div class="col-md-4">
		<label>Create</label>
		<input type="radio" class="radio-create" name="create-update"
			  value="Create" checked />
	</div>
	<div class="col-md-4">
		<label>Edit</label>
		<input type="radio" class="radio-edit" name="create-update"
			  value="Edit" />
	</div>
</div>

@* <div class="row">
	<div class="col-md-4">
		<label>Create</label>
		<input type="radio" class="radio-create" name="create-update"
			  value="Create" checked />
	</div>
	<div class="col-md-4">
		<label>Edit</label>
		<input type="radio" class="radio-edit" name="create-update"
			  value="Edit" />
	</div>
</div> *@
