<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="~/simple/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/simple/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/custom/css/style-custom.css" 
              asp-append-version="true" />
       <link rel="stylesheet" href="~/custom/css/sub-menu.css" asp-append-version="true" />

       <link rel="icon" href="~/images/Arrioch-Elements-Leaf.ico" type="image/gif" />

       @await RenderSectionAsync( "Styles", required: false )
</head>
<body>
	<!-- header section start -->

	<div class="sticky-top">
		<header>
                     <partial name="_NavBarLayoutLight"></partial>
		</header>
	</div>
	<!-- header section end -->

	<div class="light container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>	
	</div>
	
       <script src="~/simple/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
       <script src="~/simple/js/site.js" asp-append-version="true"></script>

       <script src="https://code.jquery.com/jquery-3.7.1.js" 
                    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" 
                   crossorigin="anonymous">
       </script>

       <script>
              // Fallback to loading jQuery from a local path if the CDN is unavailable
              (window.jQuery || document.write(
                     '<script src="~/simple/lib/jquery/dist/jquery-3.7.1.js"><\/script>'));
       </script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
