<div class="menu_main navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul>
		<li class="active">
			<a asp-area="" asp-controller="Home"
			   asp-action="Index">
				Home
			</a>
		</li>
		<li class="dropdown">
			<a href="#">Personnel staff</a>
			<div class="dropdown-content">
				<ul>
					<li>
						<div class="dropdown dropright read_bt">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Employees
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<form asp-controller="Employees" asp-action="Create" 
									method="post" id="PersonnelStaffCreateForm">
									<a class="dropdown-item" href="#"
									   onclick="document.getElementById('PersonnelStaffCreateForm').submit()">
                                                                      Add Employee
                                                               </a>
								</form>
                                                        <a  asp-controller="Employees" asp-action="Index">
                                                               Files
                                                        </a>
							</div>
						</div>
					</li>
					<li>
						<div class="read_bt">
                                                 <form asp-controller="Persons" asp-action="AllPersons"
                                                       method="post" id="PersonsTable">
                                                        <a class="dropdown-item" href="#"
                                                           onclick="document.getElementById('PersonsTable').submit()">Personnel</a>
                                                 </form>
						</div>
					</li>
                                   <li>
                                          <div class="dropdown dropright read_bt">
                                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        Employee Sections
                                                 </a>
                                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <form asp-area="LaborContracts" asp-controller="Contracts" asp-action="Index"
                                                              method="post" id="LaborContractsForm">
                                                               <a class="dropdown-item" href="#"
                                                                  onclick="document.getElementById('LaborContractsForm').submit()">
                                                                      Contracts and Annexes
                                                               </a>
                                                        </form>

                                                        <a asp-area="Vacations" asp-controller="Leave" asp-action="Index"
                                                           class="dropdown-item">
                                                               Leave and Temporary Disability
                                                        </a>
                                                 </div>
                                          </div>
                                   </li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#">Payroll</a>
		</li>
		<li class="dropdown">
			<a href="#">Company</a>
			<div class="dropdown-content">
				<ul>
					<li>
						<div class="read_bt">
							<a asp-area="" asp-controller="Companies"
							   asp-action="AllActual">Active Companies</a>
						</div>
					</li>
					<li>
						<div class="read_bt">
							<a asp-area="" asp-controller="Companies"
							   asp-action="Create">Create Company</a>
						</div>
					</li>
					<li>
						<div class="read_bt">
							<a asp-area="" asp-controller="Companies"
							   asp-action="About_Us">About Us</a>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#"><img src="/images/search-icon.png"></a>
		</li>
	</ul>
</div>
