
<div class="agreements-link">
       <a href="#" class="dropdown-toggle px-1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contracts & Annexes
       </a>
       <div class="dropdown-menu agreements-menu">
              <form asp-area="LaborAgreements" asp-controller="Agreements" asp-action="Index"
                    method="post" 
                    id="contractsForm">
                     <a href="#" onclick="document.getElementById('contractsForm').submit()">
                            Contracts 
                     </a>
             </form>
              
              <a href="#">
                     Annexes
              </a>
       </div>
</div>




@* class="dropdown-menu" *@
@* <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <form asp-controller="Employees" asp-action="Create"
                    method="post" id="PersonnelStaffCreateForm">
                     <a class="dropdown-item" href="#"
                        onclick="document.getElementById('PersonnelStaffCreateForm').submit()">
                            Add Employee
                     </a>
              </form>
              <a asp-controller="Employees" asp-action="Index">
                     Files
              </a>
       </div> *@