@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-md-6 mx-auto mb-3">
		<img src="/images/404/404-6.jpg"  alt="Error 404 - Page not found !"/>
	</div>
</div>


