@model int

@{
	ViewData["Title"] = "Error";
}

<div class="row">

	<div class="col-ms-6 mx-auto mb-3">
              <img src="~/images/404/error 405-1.jpg" alt="Error 405 - Method not found !" />
	</div>
</div>


