@using Payroll.ViewModels
@model CompanyListViewModel


<datalist id="company-list">
       @foreach ( var company in Model.Companies )
       {
              <option value="@company.Value">@company.Text </option>
       }
</datalist>

		