/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
         font-family: "Righteous";
         src: url("../fonts/BalooChettan-Regular.ttf");
         src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

/*@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
*/
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
.company {
    padding-top: 20px;
}

.company h1 {
    padding-left:30px;
    font-size: 30px;
         /*padding-bottom:0px;*/
}

div.company .mail_text {
   font-size: 12px;
   margin-top: 1px;
   margin-bottom: 10px;
         /*background-color:#00ff21;*/
}

div.company label {
   margin-bottom: .1rem;
   padding-left: 20px;
}

div.company .send_bt{
         margin-top: 20px;
         margin-bottom: 5px;
}










