@using Payroll.ViewModels.PersonViewModels
@model PersonFilterVM?

<div>
       <div class="d-flex form-control justify-content-start">
              <div class="d-inline-block col-md-1">
                     <form asp-controller="Persons" asp-action="AllPersons"method="post" id="PersonsTable">
                            <div>
                                   <div class="row">
                                          <div class="form-group col-md-1">
                                                 <label> </label>
                                                 <input type="submit" class="btn btn-success h-50 border-0 " value="..." />
                                          </div>
                                   </div>
                            </div>
                     </form>
              </div>
              <div class="d-inline-block col-md-10">
                     <form asp-action="AllPersons" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="d-flex justify-content-start">
                                   <div class="row col-md-10">
                                          <div class="form-group col-md-2">
                                                 <label asp-for="PersonId" class="col-md-8"></label>
                                                 <input asp-for="PersonId" class="col-md-8 border-1" type="text"
                                                        validate field-name="@nameof(Model.PersonId)" />
                                          </div>
                                          <div class="form-group col-md-5">
                                                 <label asp-for="SearchName" class="col-md-8"></label>
                                                 <input asp-for="SearchName" class="col-md-11 border-1" type="text"
                                                        validate field-name="@nameof(Model.SearchName)" />
                                          </div>
                                          <div class="form-group col-md-2">
                                                 <label asp-for="CivilID" class="col-md-11"></label>
                                                 <input asp-for="CivilID" class="col-md-10 border-1" type="text"
                                                        validate field-name="@nameof(Model.CivilID)" />
                                          </div>
                                          <div class="form-group col-md-2">
                                                 <label class="col-md-12"></label>
                                                 <input type="submit" class="btn btn-success h-50 border-0 col-sm-7 " value="Search" />
                                          </div>
                                   </div>
                            </div>
                     </form>
              </div>
       </div>
</div>

