@using Payroll.ModelsDto
@model CompanyDto

@{
	ViewData["Title"] = "Edit";
	string oldCompanyName = Model.Name;
}

<div class="about_section layout_padding company">
	<div class="container">
		<h1 class="watchs_taital">Edit Company</h1>
	</div>
	<div class="contact_section_2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<form asp-action="EditCompany">
						<div asp-validation-summary="ModelOnly" 
						class="text-danger"></div>
						<div class="mail_section_1">
							<div class="form-group">
								<label asp-for="Id" class="control-label">
								</label>
								<input type="text" asp-for="Id" 
								class="form-control" value="@Model.Id"/> 
								<span asp-validation-for="Id" 
								class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Name" class="control-label">
								</label>
								<input asp-for="Name" class="form-control" 
								placeholder="Required"/>
								<span asp-validation-for="Name"
								class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="CompanyHeadquarter"
									  class="control-label"></label>
								<input asp-for="CompanyHeadquarter"
									  class="form-control"
									  placeholder="Required"/>
								<span asp-validation-for="CompanyHeadquarter"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="AddressOfManagement"
									  class="control-label"></label>
								<input asp-for="AddressOfManagement"
									  class="form-control" />
								<span asp-validation-for="AddressOfManagement"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="UniqueIdentifier"
									  class="control-label"></label>
								<input asp-for="UniqueIdentifier"
								class="form-control" placeholder="Required"/>
								<span asp-validation-for="UniqueIdentifier"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="VATRegNumber"
									  class="control-label"></label>
								<input asp-for="VATRegNumber" 
								class="form-control"/>
								<span asp-validation-for="VATRegNumber"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="RepresentedBy"
									  class="control-label"></label>
								<input asp-for="RepresentedBy" 
								class="form-control" placeholder="Required"/>
								<span asp-validation-for="RepresentedBy"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="RepresentativeIdNumber"
									  class="control-label"></label>
								<input asp-for="RepresentativeIdNumber"
									  class="form-control" />
								<span asp-validation-for=
								"RepresentativeIdNumber"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="CompanyCaseNumber"
									  class="control-label"></label>
								<input asp-for="CompanyCaseNumber"
									  class="form-control"/>
								<span asp-validation-for="CompanyCaseNumber"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="HasBeenDeleted"
									  class="control-label"></label>
								<input type="text" name="HasBeenDeleted"
									class="form-control" list="browsers" 
									value="@Model.HasBeenDeleted.ToString()" />
								<datalist id="browsers">
									<option>True</option>
									<option>False</option>
								</datalist>
								<span asp-validation-for="HasBeenDeleted"
									 class="text-danger"></span>
							</div>
							<div class="form-group">
								<input name="oldName" type="hidden" 
									value ="@oldCompanyName" />
							</div>
							<div class="send_bt modify-company">
								<button asp-controller="Companies" 
									asp-action="EditCompany" type="submit">Save
								</button>
							</div>
							<div class="send_bt modify-company">
								<button asp-controller="Companies"
									   asp-action="AllActual">Back to List
								</button>
							</div>
						</div>						
					</form>
				</div>
				<div class="col-md-6 padding_right_0">
					<div class="map_section">
						<img src="/images/map-img-2.png">
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>

@* @section Scripts {
	<partial name="_ValidationScriptsPartial" />
} *@