@using Payroll.ModelsDto.EmployeeDtos
@model IList<GetEmployeeDto>

@{
	ViewData["Title"] = "AllPresentEmployees";
	Layout = "~/Views/Shared/_LayoutLight.cshtml";
}

<div class="container">
	<main role="main" class="pb-3">
		<h1>AllPresentEmployees</h1>

	</main>
</div>

