

<div class="dialog-create-edit-form wider">

       <dialog id="selectLaborCodeArticleDialog" class="pt-2 agreement-dialod">
              <div>
                     <span class="closebtn btnCloseDialog" onclick="closeDialogBox()">&times;</span>
              </div>
              <br />

              <div>
                     <h5 class="text-center">Select Article of the Labor Code</h5>
              </div>

              <div class="d-flex justify-content-center mt-4 mb-1">
                     <div class="d-inline col-sm-9">
                            <div class="d-flex col-sm-12 px-1">
                                   <label class="col-sm-4 text-start">Article Type</label>
                                   <select id="articleLaborCode-select" 
                                                class="col-sm-8 rounded-pill border-1">
                                   </select>
                            </div>
                     </div>
                     <div class="d-inline d-flex justify-content-center col-sm-3 mx-1">
                            <button onclick="chooseLaborCodeArticle()"
                                    class="btn-primary px-0 py-1 border-0 stylish-btn justify-content-center">
                                   Get Id
                            </button>
                     </div>
              </div>
              <div class="d-flex justify-content-center mt-2 mb-1">
                     <div class="d-inline col-sm-9">
                            <div class="d-flex col-sm-12 px-1">
                                   <label class="col-sm-4 text-start">Edit selected</label>
                                   <input id="checkbox-edit-laborCode" type="checkbox" class="mx-2"/>
                            </div>
                     </div>
                     <div class="d-inline d-flex justify-content-center col-sm-3 mx-1"></div>
              </div>

              <hr />

              <div class="d-flex justify-content-center mt-1 mb-1">
                     <div class="d-inline col-sm-9">
                            <div class="d-flex col-sm-12 px-1">
                                   <label class="col-sm-4 text-start">Article</label>
                                   <input id="createLaborCodeArticle-input"
                                          class="col-sm-8 rounded-pill border-1 px-2 py-0" value=""/>
                            </div>
                     </div>
                     <div class="d-flex justify-content-center d-inline col-sm-3 mx-1">
                            <button id="btnAddEditArticle"
                                    onclick="addArticleType()"
                                    class="btn-primary px-0 py-1 border-0 stylish-btn justify-content-center">
                                   Add
                            </button>
                     </div>
              </div>
       </dialog>
</div>
