
.alert {
       padding: 20px;
       background-color: #f44336;
       color: white;
}

#edit-success {
       padding: 20px;
       background-color: #99ff99;
       color: white;
}

#edit-success p,span.closebtn{
       color:black; 
}

#edit-success .closebtn:hover{
       color:deepskyblue;
}

.closebtn {
       margin-left: 15px;
       color: white;
       font-weight: bold;
       float: right;
       font-size: 22px;
       line-height: 20px;
       cursor: pointer;
       transition: 0.3s;
}

.closebtn:hover {
       color:blue;
}
