

fieldset {
       background-color: #eeeeee;
       display: block;
       margin-left: 2px;
       margin-right: 2px;
       padding-top: 0.35em;
       padding-bottom: 0.625em;
       padding-left: 0.75em;
       padding-right: 0.75em;
       border: 2px groove;
}

fieldset#actual-addresses-fieldset {
       background-color: #f2faf8;
              /*#e3fbf7*/
}

legend {
       background-color: gray;
       color: white;
       padding: 5px 10px;
}

input {
       margin: 5px;
}

input,label,option{
       font-size: 12px;
}

