
.payroll-table input,button,td,a{
       font-size: 0.8em;
}

button.final-btn{
       font-size:12px;
}

#privateTable th > label {
       font-size: 0.8em;
}

.person-item-btn:hover {
       font-weight: bold;
}

button.manage-btn {
       font-size: 0.7em; /*8px;*/
}