/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
/*
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
         font-family: "Righteous";
         src: url("../fonts/BalooChettan-Regular.ttf");
         src: url("../fonts/BalooChettan-Regular.ttf");
}*/
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

/*@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
*/
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /*white*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }

.dropdown-content ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display:grid;
}
  
.dropdown-content li {
    text-transform: uppercase;
    color: #080808;
    width:200px;
}

.dropdown-content li a{
    color: #080808;
    padding: 5px 5px;
/*    width:300px;*/
}
  
.dropdown-content div.read_bt a:hover {
    color:#ffffff;
    background-color:#b60213;
 }

.dropdown-content div.read_bt a {
    color: #080808;
    border-radius: 40px;
    width:100%;
    float: left;
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 1px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
}

.employees a:hover {
	background-color: chartreuse;
}
/***************************************************************************/
.company {
	padding-top: 20px;
	background: #000;
}

.company h1 {
    padding-left:20px;
    font-size: 30px;
}

div.company .mail_text {
   font-size: 12px;
   margin-top: 1px;
   height:38px;
   float:none;
   color:#000000;
}

div.company label {
   margin-bottom: .1rem;
   padding-left: 20px;
   color:#f1f0ef;
}

div.company .send_bt{
   margin-top: 20px;
   margin-bottom: 5px;
}

div.company .send_bt button {
    width: 100%;
    float: left;
    background-color: #a40514;
    color: #e1e7d8;
    text-align: center;
    padding: 15px 0px;
    font-size: 16px;
    border-radius: 40px;
    font-weight: bold;
}

div.company .send_bt button:hover {
    background-color: #98f58d;
    color: #000;
}

div.company .padding_right_0 {
    padding-right: 0px;
    padding-left: 100px;
}

div.company .form-group {
    margin-bottom: 0.1rem;
    padding-bottom:0.2rem;
    max-height:150px;
}

div.company .form-group span{
    padding-left: 15px;
}

div.company .form-group input{
    max-width: 386px;
}
/****************************************************************/
div.all {
         padding-bottom: 60px;
}

.all h1{
   width: 100%;
   float: left;
   font-size: 30px;
   color: #f1f0ef;
   font-weight: bold;
   text-transform: uppercase;
}

.company .table {
    padding-left: 75px;
    font-size: 12px;
    background:#000;
    color: #f1f0ef;            
}

/****************************************************************/

td.dropdown p {
	color:darkblue;
}

div.modify-company {
	width: 140px;
}

div.send_bt.modify-company button {
	max-width: 125px;
	padding: 10px 1px;
	background-color: #b60213;
}

div.staff {
	margin: auto;
	width: 60%;
}

div.staff .company .send_bt {
	margin-top: 20px;
	margin-bottom: 5px;
}

div.staff .send_bt.modify-company a {
	width: 90%;
	float: left;
	background-color: #a40514;
	color: #e1e7d8;
	text-align: center;
	padding: 10px 0px;
	font-size: 16px;
	border-radius: 40px;
	font-weight: bold;
}

div.staff .send_bt.modify-company a:hover {
	background-color: #98f58d;
	color: #000;
}

/***/
.light.container {
	margin:auto;
	padding:0;
}
/*********Start Employees ******************/
#employees input, button, select, label, a {
	font-size: 0.8em;
}

.main-view label {
	font: 0.8em;
	font-weight:bold;
}

.main-view .profile {
	padding:0px 0px;
}

.main-view .profile-buttons {
	padding: 0px 2px;
}

.employees-general {
	margin:auto;
}

.navbar-custom a {
	font-size: 0.8em;
	font-weight: bold;
}

.navbar-custom {
	background-color: #e3f2fd;
}

.main-view a.paging-button {
	font-weight: bold;
}

.create-edit input, button, select, label, a, datalist {
	font-size: 0.8em;
}

input.emp-manage-btn:hover {
       font-weight: bold;
}

/*********End Employees ******************/
