@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<tbody id="customTableBody">

       <tr>
              <td class="px-1 py-1 text-center"><input type="checkbox" class="edit-checkbox" /></td>
              <td class="px-1 py-1 text-center">rowNumber</td>
              <td class="px-1 py-1">
                     <input value="Val 1"
                            class="text-sm-center col-sm-11 border-0 table-field" readonly />
              </td>
              <td class="px-1 py-1">
                     <input value="Val 2"
                            class="col-sm-11 text-sm-center border-0 table-field" readonly />
              </td>
       </tr>
</tbody>

