@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
       <div class="d-flex justify-content-start px-0 py-1">

              <div class="row col-sm-12 border border-2">
                     <div class="col-sm-12 d-inline-block px-2 py-2">
                            <form  asp-action="Index" method="post">
                                   <div class="d-flex justify-content-start">
                                          <div class="row mx-0 w-100">
                                                 <div class="form-group col-sm-5 p-0">
                                                        <label>Select Company</label>
                                                        <vc:select-company parent-view="IndexContracts"></vc:select-company>
                                                 </div>
                                                 <div class="form-group col-md-2 p-0">
                                                        <input type="submit" value="Search"
                                                                      class="btn btn-success h-100 border-0 col-sm-6 p-0"/>
                                                 </div>
                                          </div>
                                   </div>
                            </form>
                     </div>
              </div>
              
       </div>
</div>
